<div class="container">
    <div class="card">
        <div class="card-body" style="min-height: calc( 100vh - 185px);flex-direction:column;display: flex;line-height: 30px;letter-spacing: 0.5px;padding: 20px 50px">
            <span>
                <strong>Numerology</strong> is based on  calculation of numbers. Numerology has strong association with planets. In numerology, the people are divided into 9 segments. i.e. from 1 to 9. Sun rules number 1, moon number 2, Jupiter number 3, Rahu  number 4, Mercury number 5, Venus number 6, ketu number 7, Saturn number 8, Mars number 9. For example,  the native borns on 5, 14 and 23 rd falls under number 5. These people will have the character of the planet Mercury. If one's name is suited well with birth date, he can achieve anything in the world.
            </span>
        </div>
    </div>
</div>    