<div class="container">
    <div class="card" style="margin: 20px 0;">
        <div class="card-body" style="flex-direction:column;display: flex; line-height: 30px;">
            <div style="margin: 10px">வாழ்க்கையில் ஏற்படும் பிரச்சனைகளில் இருந்து விடுபட்டு, வாழ்வில் மேன்மேலும் முன்னேற 108 முறை  கீழே கொடுக்கப்பட்டுள்ள மந்திரத்தினை ஒரு மண்டலம்(48 நாட்கள்) சொல்லி வந்தால் உங்களுக்கு என்ன வேண்டுதலோ அது கட்டாயமாக இறையருளால் நிறைவேற்றப்படும்.</div>
            <div style="margin: 10px">108 ஒரு ரூபாய் நாணயம், 108 பூக்கள் அல்லது 108 ருத்ராட்சம் கொண்ட மாலையை எண்ணிக்கைக்காக பயன்படுத்திக்கொள்ளலாம். ஒவ்வொரு மந்திரத்தை சொல்லும் போதும், கையில் நாணயம், பூ அல்லது ருத்ராட்சம் இருக்க வேண்டும்.</div>        
            <div style="margin: 10px">இதனை முடிந்தவரை காலையில் குளித்துவிட்டு செய்வது உத்தமம்.</div>
            <div class="mantra" style="margin: 20px 0;display: flex;justify-content: center;">
                <div style="background: #f1f1f1;border-radius: 3px;font-weight: bold;">
                    <h2 style="background:#FDC848;padding: 1.25rem; font-size: 16px;text-align: center">Mantra(மந்திரம்)</h2>
                    <div style="padding: 10px 25px">
                            <pre>ஹரி ஓம் ஸ்ரீயும் ஐயும் கிலியும் சவ்வும்
    சந்திர லக்ஷ்மியே நமஹ!
க்ரம் க்ரீயும்  சொர்ண லக்ஷ்மியே நமஹ!
    வங் சங் டங் ரிங் வீரலக்ஷ்மியே நமஹ!
ஓம் ஹம் சர்வ பாக்ய லக்ஷ்மியே நமஹ!
    நவ்வும் மவ்வும் நடுவெழுத்தாகிய சூர்ய லக்ஷ்மியே நமஹ!
                        
தெய்வ வஸ்ய! பூத வஸ்ய! லோக வஸ்ய!
    ராஜ வஸ்ய! ஜன வஸ்ய! புருஷ வஸ்ய!
ஸ்த்ரீ வஸ்ய! புத்ர சம்பத் வஸ்ய! தொழில் வஸ்ய!
    நாகலோகத்தில் உண்டாகின்ற சர்வ ஜீவப்பிராணிகளும் 
        உன் வசமானாற்போல் என் வசமாக 
        என் குடும்ப வசமுமாக வஸ்ய! வஸ்ய!
                ஓம் ஸ்வாஹ!</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>