.container{
    padding-top: 0;
    padding-bottom: 0;
}

.zodiac img{
    width: 60px;
}

.zodiac{
    background: #eee;
    cursor: pointer;
    margin-bottom: 20px;
}

.zodiac .img{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 500px;
}

.raasi{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

h2{
    background:#FDC848;
    padding: 1.25rem; 
    font-size: 16px;
    text-align: center;
}

