<div class="container">
    <div class="card" style="margin: 20px 0;">
        <div class="card-body" style="flex-direction:column;display: flex;line-height: 30px;letter-spacing: 0.5px;padding: 20px 50px;min-height: calc( 100vh - 130px);">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Meaning</th>
                    <th scope="col text-center">Name Number</th>
                    <th scope="col text-center">Numerology Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let luckyname of luckyNames">
                    <th scope="row">{{luckyname.id}}</th>
                    <td>{{luckyname.name}}</td>
                    <td>{{luckyname.meaning}}</td>
                    <td class="text-center">{{luckyname.namenumber}}</td>
                    <td class="text-center">{{luckyname.numerologynumber}}</td>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>
</div>    