.container{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 103px;
    min-height: calc( 100vh - 159px); 
}

.nav-link, .sort{
    cursor: pointer !important;
}

.sort{
    width: 30px;
    height: 30px;
    border-radius: 500px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.alpha{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.sort:hover{
    color: #007bff;
}

.sort.active{
    background: #007bff;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .alpha{
        flex-wrap: wrap;
    }

    .container{
        margin-top: 80px;
        font-size: 16px;
    }

    .card{
        margin-bottom: 70px;
    }

    .card-body{
        padding: 10px 20px !important;
    }
}