/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
    background: #E5DFCC;
}

@media only screen and (max-width: 800px) {
    #time-picker-wrapper{
        z-index: 9999 !important;
        top: -75px !important;
    }
}