.container{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 103px;
    min-height: calc( 100vh - 159px); 
}

.card-body{
    line-height: 30px;
    letter-spacing: 0.5px;
    padding: 17px 50px;
    list-style-type: none;
}

pre{
    padding: 0 50px;
    font-weight: bold;
}

.card-body li{
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .container{
        margin-top: 80px;
    }

    .card{
        margin-bottom: 70px;
    }
    .card-body{
        padding: 5px 20px;
        font-size: 14px;
    }
    pre{
        padding: 0 20px;
    }
}