<div class="container">
    <div class="card">
        <ul class="card-body d-flex flex-column">
            <li>
                <strong>Dharshini Astrological Research Center</strong> was founded in the year 2005. Astrological
                service has been provided
                with accurate predictions. We have about 23 years of experience in this field. The horoscope of
                individuals
                is critically analysed and prediction is given with zero degree accuracy.
            </li>
            <li>
                The predictions are based on referring the ancient astrological books written by
                Bhirugurishi, Agasthiyar, Pulipani, Jambu maharishi, Patanjali.
            </li>
            <li>
                No one in this planet can live without any difficulties. If one has wealth, he has issues in
                family life. It is very rare to see people with 360 degree happiness.
            </li>
            <li>
                A clear solution is given by us to overcome all the difficulties in life.
            </li>
        </ul>
        <pre>Contact us :
Dharshini Astrological Research Centre, Chennai.
E-mail- predicthoroscope@gmail.com
Mobile: 9194999 35923
        </pre>
    </div>
</div>