.navbar-nav{
    flex-direction: row;
}

.nav-item{
    padding: 25px 10px;
    cursor: pointer;
}

.nav-item:hover, .active-link{
    background: #c53e06;
}

li a{
    font-size: 15px;
}

.navbar-brand img{
    width: 65px;
    margin: 0 5px;
}

.container, nav{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand span:focus, .nav-item:focus, img:focus{
    outline: none;
}