.container{
    flex-wrap: initial;
}
.navbar-nav{
    flex-direction: row;
}

.nav-item{
    padding: 20px 10px;
    cursor: pointer;
}

.title, .titlehide{
    font-size: 21px;
}

.titlehide{
    display: none;
}

.nav-item:hover, .active-link{
    background: #c53e06;
}

li a{
    font-size: 15px;
}

.navbar-brand img{
    width: 65px;
    margin: 0 5px;
}

.container, nav{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand span:focus, .nav-item:focus, img:focus{
    outline: none;
}

.collapse{
    justify-content: flex-end;
}

.navbar-toggler, li i{
    display: none;
}

@media only screen and (min-width: 800px) {
    .menulist{
        display: flex;
    }
}

@media only screen and (max-width: 800px) {

    .container{
        flex-wrap: wrap;
    }

    .navbar-brand{
        display: flex;
        align-items: center;
    }

    li{
        display: flex;
        align-items: center;
        font-size: 21px;
        color: #fff;
    }

    li i{
        display: inline-block;
        margin-right: 10px; 
    }

    .menulist{
        width: 100%;
    }

    .navbar-brand img{
        width: 55px;
    }

    .navbar-nav{
        flex-direction: column;
        width: 100%;
        height: calc( 100vh - 65px);
    }

    .titlehide{
        display: inline-block !important;
        font-size: 16px;
    }

    .title{
        display: none;
    }

    .navbar-toggler{
        display: inline-block;
        padding: 3px;
    }
}