<nav class="navbar navbar-dark sticky-top" style="background-color: #F16213">
    <div class="container">
        <span class="navbar-brand" style="display: flex;align-items: center;">
            <img routerLink="home" style="cursor: pointer;" src="assets/logo.png">
            <span routerLink="home" style="font-size: 22px;">Dharshini Astrological Research Center</span>
        </span>
        <ul class="navbar-nav">
            <li class="nav-item active" routerLink="aboutus" routerLinkActive="active-link">
                <a class="nav-link">About us</a>
            </li>
            <li class="nav-item active" routerLink="numerology" routerLinkActive="active-link">
                <a class="nav-link">Numerology</a>
            </li>
            <li class="nav-item active" routerLink="marriagematch" routerLinkActive="active-link">
                <a class="nav-link">Marriage Match Making</a>
            </li>
            <li class="nav-item active" routerLink="luckynames" routerLinkActive="active-link">
                <a class="nav-link">Lucky Names</a>
            </li>
            <li class="nav-item active" routerLink="mantras" routerLinkActive="active-link">
                <a class="nav-link">Mantras</a>
            </li>
        </ul>
    </div>
</nav>